.article img {
	border: 10px  solid #FFFFF0;
	height: 300px;
	width: 300px;
	border-radius: 30px;
	padding: 0;
}
.article h3{
	font-family: 'Do Hyeon', sans-serif;
	color: #9932CC;
	text-shadow:1px 1px #D8BFD8;
}

.articles{
	padding-top: 100px;
	background: #EE82EE;
	padding-left: 100px
}